.goods__list {
  display: grid;
  grid-template-columns: repeat(6, minmax(140px, 245px));
  grid-template-rows: repeat(6, minmax(140px, 245px));
  gap: 60px;
}



.goods__item {
  position: relative;
  border-radius: 20px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.goods__item .goods__title {
  font-weight: 700;
}

.goods__item .goods__discount {
  position: absolute;
  background-color: rgba(255, 189, 19, 1);
  width: 88px;
  height: 88px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
}

.goods__item:nth-child(1) {
  background-image: url('../images/01.jpg');
  padding-top: 97px;
  padding-left: 20px;
}

.goods__item:nth-child(1) .goods__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  white-space: pre-line;
}

.goods__item:nth-child(1) .goods__span {
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
}

.goods__item:nth-child(2) {
  background-image: url('../images/02.jpeg');
  padding-top: 78px;
  padding-left: 14px;
}

.goods__item:nth-child(2) .goods__title {
  font-size: 30px;
  line-height: 39px;
}

.goods__item:nth-child(2) .goods__discount {
  bottom: 20px;
  right: 20px;
}

.goods__item:nth-child(3) {
  display: flex;
  flex-direction: column;
  background-image: url('../images/03.jpeg');
  grid-row: 1/span 2;
  grid-column: 3/span 2;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 22px;
  justify-content: flex-end;
}

.goods__item:nth-child(3) .goods__title {
  font-size: 56px;
  line-height: 67px;
  padding: 26px 23px;
  background-color: rgba(56, 192, 235, 1);
  border-radius: 20px;
  white-space: pre-line;
}

.goods__item:nth-child(3) .goods__span {
  font-size: 40px;
  line-height: 48px;
}

.goods__item:nth-child(4) {
  background-image: url('../images/04.jpeg');
  grid-column: span 2;
}


.goods__item:nth-child(5) {
  background-image: url('../images/05.jpeg');
  grid-column: span 2;
}

.goods__item:nth-child(5) .goods__discount {
  top: 20px;
  left: 20px;
}

.goods__item:nth-child(6) {
  background-image: url('../images/06.jpeg');
  grid-column: span 2;
  padding-top: 160px;
  padding-left: 30px;
}

.goods__item:nth-child(6) .goods__discount {
  right: 15px;
  bottom: 15px;
}

.goods__item:nth-child(6) .goods__title {
  font-size: 40px;
  line-height: 52px;
}

.goods__item:nth-child(7) {
  background-image: url('../images/07.jpeg');
  grid-column: span 4;
  grid-row: span 2;
  padding-top: 385px;
  padding-left: 50px;
}

.goods__item:nth-child(7) .goods__title {
  display: inline-block;
  text-transform: uppercase;
  color: rgba(249, 17, 85, 1);
  padding: 32px 42px;
  font-size: 40px;
  line-height: 48px;
  background-color: #fff;
  border-radius: 20px;
}

.goods__item:nth-child(8) {
  background-image: url('../images/08.jpeg');
  grid-row: span 2;
}

.goods__item:nth-child(8) .goods__discount {
  right: 20px;
  bottom: 20px;
}

.goods__item:nth-child(9) {
  background-image: url('../images/09.jpeg');
  padding-top: 147px;
  padding-left: 20px;
}

.goods__item:nth-child(9) .goods__discount {
  top: 20px;
  left: 20px;
}

.goods__item:nth-child(9) .goods__title {
  font-size: 30px;
  line-height: 39px;
}

.goods__item:nth-child(10) {
  background-image: url('../images/10.jpg');
}
















@media(max-width: 1250px) {
  .goods {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .goods__list {
    display: grid;
    grid-template-columns: repeat(4, minmax(140px, 245px));
    grid-template-rows: repeat(6, minmax(140px, 245px));
    gap: 24px;
  }

  .goods__item:nth-child(3) {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
  }

  .goods__item:nth-child(3) .goods__title {
    font-size: 30px;
    line-height: 38px;
  }

  .goods__item:nth-child(4) {
    grid-column: 1 / span 2;
    grid-row: 3;
  }

  .goods__item:nth-child(5) {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  .goods__item:nth-child(6) {
    grid-column: 1 / span 2;
    grid-row: 4;
  }

  .goods__item:nth-child(8) {
    grid-column: 3;
    grid-row: 3 / span 2;
  }

  .goods__item:nth-child(9) {
    grid-column: 4;
    grid-row: 3;
  }

  .goods__item:nth-child(10) {
    grid-column: 4;
    grid-row: 4;
  }
}

















@media(max-width: 750px) {
  .goods {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .goods__list {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 130px 118px 130px 130px 118px 118px 130px 130px 123px;
    gap: 24px;
  }

  .goods__item:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .goods__item:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }

  .goods__item:nth-child(3) {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  .goods__item:nth-child(5) {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  .goods__item:nth-child(6) {
    grid-column: 1 / span 2;
    grid-row: 4;
  }

  .goods__item:nth-child(8) {
    grid-column: 3;
    grid-row: 3 / span 2;
  }

  .goods__item:nth-child(9) {
    grid-column: 4;
    grid-row: 3;
  }

  .goods__item:nth-child(10) {
    grid-column: 4;
    grid-row: 4;
  }
}


















@media(max-width: 700px) {
  .goods__list {
    grid-template-rows: repeat(2, 140px) repeat(4, 70px) max(337px);
    gap: 20px;
  }

  .goods__item:nth-child(1) {
    grid-row: 1;
  }

  .goods__item:nth-child(2) {
    grid-row: 1;
  }

  .goods__item:nth-child(3) {
    grid-row: 3/span 2;
    grid-column: 1/ span 2;
  }

  .goods__item:nth-child(4) {
    grid-column: 1/ span 2;
    grid-row: 4;
  }

  .goods__item:nth-child(5) {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  .goods__item:nth-child(6) {
    grid-column: 1 / span 2;
    grid-row: 5/span 2;
  }

  .goods__item:nth-child(3) {
    grid-column: 1 / span 2;
    grid-row: 3 / span 2;
  }

  .goods__item:nth-child(4) {
    grid-column: 1 / span 2;
    grid-row: 5 / span 2;
  }

  .goods__item:nth-child(5) {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  .goods__item:nth-child(6) {
    grid-column: 1 / span 2;
    grid-row: 7;
  }

  .goods__item:nth-child(8) {
    grid-column: 3;
    grid-row: 4 / span 3;
  }

  .goods__item:nth-child(9) {
    grid-column: 4;
    grid-row: 4;
  }

  .goods__item:nth-child(10) {
    grid-column: 4;
    grid-row: 6;
  }
}