/* @import "var.css"; */
@import "fonts.css";
@import "normalize.css";
@import "global.css";
@import "header.css";
@import "preview.css";
@import "catalog.css";

* {
  box-sizing: border-box;
}

html {
  position: relative;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}


img,
svg {
  margin: 0;
  padding: 0;
  object-fit: cover;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: background-color, border 0.3s;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

iframe {
  border: none;
}

/*
Доступно скрываю элементы
*/

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.article {
  display: flex;
}

input {
  outline: none;
}

.phone {
  text-align: center;
}

.button {
  background-color: #fff;
  padding: 10px;
}

.phohe-mobile {
  display: none;
}

.phone-button-text {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.phone-button-text:before {
  position: absolute;
  content: "";
  border: none;
  width: 100%;
  height: 1px;
  top: 20px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
}





/*
Пример контейнера

Если контейнер 1180px по макету,
то для max-width прибавляем паддинги 30px*2, 
в итоге 1240px
Чтобы контент не прижимался к краям экрана
*/